{% extends "base.html" %}
{% load static %}


{% block content %} 
    <div class="container content-placement mb-2">
        <div class="row">
            <div class="col">
               
                <h2 class="logo-font mb-4 text-center">Admin Profile</h2>
                
            </div>
            
        </div>
        <div class="row mt-2">
            <div class="col col-md-4 text-center">
              <a class="btn btn-dark rounded-0" href="{% url 'add_course' %}">Add Course</a>
            </div>
            <div class="col col-md-4 text-center">
                <a class="btn btn-dark rounded-0" href="">Add Main Category</a>
              </div>
              <div class="col col-md-4 text-center">
                <a class="btn btn-dark rounded-0" href="{% url 'add_category' %}">Add Category</a>
              </div>
        </div>
    </div>
{% endblock %}