{% extends "base.html" %}
{% load static %}


{% block content %} 
    <div class="container content-placement content-placement-bottom">
        <div class="row mt-4">
            <div class="col">
               
                <h2 class="logo-font mb-4 text-center">Managment</h2>
                
            </div>
            
        </div>
        
        <div class="row mt-2">
            <div class="col col-md-10 offset-md-1 justify-content-md-between justify-content-sm-center d-flex justify-content-center">
              <a class="btn btn-dark rounded-0 mx-3" href="{% url 'add_course' %}">Add Course</a>
              <a class="btn btn-dark rounded-0 mx-3" href="{% url 'add_main_category' %}">Add Main Category</a>
              <a class="btn btn-dark rounded-0 mx-3" href="{% url 'update_main_category' %}">Update Main Category</a>
              <a class="btn btn-dark rounded-0 mx-3" href="{% url 'add_category' %}">Add Category</a>
              <a class="btn btn-dark rounded-0 mx-3" href="{% url 'select_category' %}">Upate Category</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col col-md-10 offset-md-1 text-center">
                <h5 class="text-info">Course details can be updated or deleted from the course detail page.</h5>
            </div>
        </div>
    </div>
{% endblock %}