{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block content %} 
    <div class="container content-placement">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Checkout</h2>
                <hr>
            </div>
            
        </div>
        <div class="row">
            <div class="col col-lg-6">
                <p class="text-muted">Order Summary</p>
                <div class="row">
                    <div class="col-7 offset-2">
                        <p class="mb-1 mt-0 small text-muted">Course</p>
                    </div>
                    <div class="col-3 text-end">
                        <p class="mb-1 mt-0 small text-muted">Price</p>
                    </div>
                </div>
                <hr class="my-1">
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-2 mb-1">
                            <a href="{% url 'course_detail' item.course.id %}">
                                {% if item.course.image %} 
                                    <img src="{{ item.course.image.url}}" alt="{{item.course.name}}" class="img-fluid w-100 ">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.course.title }}" class="w-100">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-7">
                            <p class="my-0"><strong>{{item.course.title }}</strong></p>
                        </div>
                        <div class="col-3 text-end">
                            <p class="my-0 small text-muted">${{ item.course.price}}</p>
                        </div>
                    </div>
                {% endfor %}
                <hr class="my-0">
                <div class="row text-dark text-end">
                    <div class="col">
                        {% if discount_delta == 0 %}
                            <p class="my-0">Total: <s>${{total|floatformat:2}}</s></p>
                            <p class="text-danger"> You got {{ discount_percentage}}% of discount.</p>
                        {% endif %}
                        
                        <p class="my-0">Total: <strong>${{ grand_total| floatformat:2 }}</strong></p>
                        
                    </div>
                </div>
            </div>
            <div class="col col-lg-6">
               <p class="text-muted ms-2">Fill out the payment details to complete your order</p>
              
               <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                   {% csrf_token %}
                   <fieldset class=" rounded px-3">
                       <legent class="fieldset-label small text-black px-2 w-auto">Billing Details</legent>
                       {{ order_form.cardholder_full_name| as_crispy_field }}
                       <div class="mb-3" id="card-element"></div>
                       <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                   </fieldset>

                   <div class="submit-button text-end mt-5 mb-2">
                       <a href="{% url 'view_bag' %}" class="btn rounded-0 border-dark border-1 me-2">
                           <span class="icon">
                            <i class="fas fa-chevron-left"></i> 
                            </span>
                            <span class="font-weight-bold">Adjust Bag</span>
                       </a>
                       <button id="submit-button" class="btn btn-dark rounded-0">
                           <span class="font-weight-bolt">Complete Order</span>
                           <span class="icon">
                               <i class="fas fa-lock"></i>
                           </span>
                       </button>
                       <p class="small text-danger my-0">
                           <span class="icon">
                               <i class="fas fa-exclamation-circle"></i>
                           </span>
                           <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                       </p>
                   </div>

               </form>
           
            </div>
            
        </div>
    </div>
{% endblock %}

{% block postloadjs %} 
    {{ block.super }}
    {{ stripe_public_key| json_script:"id_stripe_public_key" }}
    {{ client_secret| json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}