body{
    font-family: 'Lato';
}

.logo-font {
    text-transform: uppercase;
}


/* ----------------- Media Queries ------------------ */



/* --------Slightly larger container on xl screens ------------------ */

@media (min-width:1200px){
    .container{
        max-width: 80%
    }
}
