<div class="collapse navbar-collapse" id="main-nav">

    <ul class="navbar-nav mx-auto ">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-dark me-4 ms-md-4" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark me-4 ms-md-4" href="#" id="all-courses-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                All Courses
            </a>
            <div class="dropdown-menu border-0 shadow" aria-labelledby="all-courses-link">
                <a href="{% url 'courses'%}?sort=price&direction=asc" class="dropdown-item">By Price</a>
              
                <a href="{% url 'courses'%}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'courses' %}" class="dropdown-item">All Courses</a>
            </div>
        </li>
 
        {% for main_category in main_categories %}

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark me-4 ms-md-4" href="#" id="{{main_category.name}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{main_category.friendly_name}}
            </a>
            <div class="dropdown-menu border-0 shadow" aria-labelledby="{{main_category.name}}">
                {% for category in categories %}
                
                    {% if category.main_category.name == main_category.name %}
                        <a href="{% url 'courses' %}?category={{category.name}}" class="dropdown-item">{{category.friendly_name}}</a>
                    {% endif %}
                {% endfor %}
                <a href="{% url 'courses' %}?main_category={{main_category.name}}" class="dropdown-item">All {{ main_category.friendly_name }} Courses</a>
            </div>
        </li>

        {% endfor %}

    </ul>

</div>