{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'courses/css/add_courses.css' %}">
{% endblock %}

{% block content %}
    <div class="content-placement my-4">
        <div class="row mt-4 mb-2">
            <div class="col">
                <h2 class="logo-font mb-4 text-center">Add Course</h2>
            </div>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-10 offset-1 col-md-6 offset-md-3">
                <form action="{% url 'add_course' %}" method="POST" class="form mb-2" id="add-course-form"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.text | safe }}
                    {{ form.media }}
                    {{ form|crispy }}

                    <div class="text-center">
                        <a href="{% url 'admin' %}" class="btn rounded-1 border border-1 border-dark">Cancel</a>
                        <button type="submit" class="btn btn-dark rounded-1 my-2 ms-2">Add Lectures</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}