{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'courses/css/add_courses.css' %}">
{% endblock %}

{% block content %}
<div class="container content-placement content-placement-bottom">
    <div class="row">
        <div class="col">

            <h2 class="logo-font mb-4 text-center">Add Course</h2>

        </div>

    </div>
    <div class="row mt-2">
        <div class="col col-md-10 offset-md-1">
            <form action="{% url 'add_course' %}" method="POST" class="form mb-2" id="add-course-form">
                {% csrf_token %}

                {{ add_course_form|crispy }}
                <div id="course-schedule-form">
                    <div class="row empty-form">
                        <div class="form-group col-md-3 mb-0">
                            {{ add_course_schedule_formset.empty_form.course_date|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ add_course_schedule_formset.empty_form.course_start_time|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ add_course_schedule_formset.empty_form.course_end_time|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ add_course_schedule_formset.empty_form.course_link|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div id="lecture-btn-group">
                <button id="add-lecture" class="btn btn-sm btn-primary" type="button">Add Lecture</button>
                </div>
                <div class="text-center">
                    <a href="{% url 'admin' %}" class="btn rounded-1 border border-1 border-dark">Cancel</a>
                    <button type="submit" class="btn btn-dark rounded-1 my-2 ms-2">Add Course</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script>
    let click = 0
    $('#add-lecture').click(function (event) {
        //add new empty form to add lecture
        if (event) {
            event.preventDefault()
        }
        click = click + 1
        console.log(click)
        $('.empty-form').clone().appendTo('#course-schedule-form')
        if(click == 1){
            let removeBtnHtml = '<button id="remove-lecture" class="btn btn-sm btn-secondary mx-4" type="button">Remove Lecture</button>'
            $('#add-lecture').after(removeBtnHtml)
        }
    })
</script>
{% endblock %}