{% load static %}
<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <!-- Required meta tags -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

  <!--Block to add extra meta if required for particular page-->
  {% block extra_meta %}

  {% endblock %}

  {% block corecss %}
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
  <!--Block to add extra css if required for particular page-->
  {% block extra_css%}
  {% endblock %}

  {% block corejs %}
  <!-- Jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <!-- Fontawesome JS -->
  <script src="https://kit.fontawesome.com/023e38a18b.js" crossorigin="anonymous"></script>
  <!-- Stripe JS -->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  <!--Block to add extra ja if required for particular page-->
  {% block extra_js %}
  {% endblock %}
  <title>Skillz Academy {% block extra_title %}{% endblock %}</title>
</head>

<body>
<header class="container-fluid fixed-top">
  <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-lg-start">
      <a href="{% url 'home' %}" class="nav-link main-logo-link">
        <h2 class="logo-font text-dark my-0">Skillz Academy</h2>
      </a>
    </div>
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
      <form action="{% url 'courses' %}" method="GET">
        
        <div class="input-group">
          <input type="text" name="q" class="form-control border border-dark rounded-0  " placeholder="Search Courses">
          <div class="input-group-append">
            <button class="form-control btn btn-dark border border-dark rounded-0 " type="submit">
              <span class="icon">
                <i class="fas fa-search"></i>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
      <ul class="list-inline list-unstyled text-center text-lg-end my-0">
        {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <li class="list-inline-item dropdown">
                  <a class="nav-link text-dark" href="#" id="navbarDropdownAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="text-center">
                      <div><i class="fas fa-user-shield fa-lg"></i></div>
                      <p class="my-0">Admin</p>
                  </div>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                    <li><a class="dropdown-item" href="{% url 'admin' %}">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                  </ul>
                </li>
                {% else %}
                <li class="list-inline-item dropdown">
                  <a class="nav-link text-dark" href="#" id="navbarDropdownProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="text-center">
                      <div><i class="fas fa-user fa-lg"></i></div>
                      <p class="my-0">My Profile</p>
                  </div>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownProfile">
                    <li><a class="dropdown-item" href="#">My Learning</a></li>
                    <li><a class="dropdown-item" href="#">My Teaching</a></li>
                    <li><a class="dropdown-item" href="#">Purchase History</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                  </ul>
                </li>
                {% endif %}
          {% else %}
            <li class="list-inline-item"><a href="{% url 'account_signup' %}" class="nav-link text-dark">
              <div class="text-center"> 
                <i class="fas fa-user-plus fa-lg"></i>
              </div>
              <p class="my-0">
                Sign Up
              </p>
            </a></li>
            <li class="list-inline-item"><a href="{% url 'account_login' %}" class="nav-link text-dark">
              <div class="text-center"> 
                <i class="fas fa-user fa-lg"></i>
              </div>
              <p class="my-0">
                Sign In
              </p>
              </a></li>
          {% endif %}
          <li class="list-inline-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %} text-dark {% endif %} nav-link" href="{% url 'view_bag' %}">
              <div class="text-center"> 
                <i class="fas fa-shopping-cart fa-lg"></i>
              </div>
              <p class="my-0">
                {% if grand_total %} 
                  ${{ grand_total | floatformat:2}}
                {% else %}
                  $0.00
                {% endif %}
              </p>
            </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row bg-white">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% include 'includes/mobile-top-header.html' %}
        {% include 'includes/main-nav.html' %}
    </nav>
  
  </div>
  
  {% if discount_flag %}
  <div id="offer-banner" class="row text-center">
    <div class="col bg-dark text-white">
        <h4 class="logo-font my-1">Get {{ discount_percentage }}% discount, if bought over ${{ discount_threshold }} !</h4>                
    </div>            
</div>
{% endif %}
</header>

  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
      {% with message.level as level %}
          {% if level == 40 %}
              {% include 'includes/toasts/toast_error.html' %}
          {% elif level == 30 %}
              {% include 'includes/toasts/toast_warning.html' %}
          {% elif level == 25 %}
              {% include 'includes/toasts/toast_success.html' %}
          {% else %}
              {% include 'includes/toasts/toast_info.html' %}
          {% endif %}
      {% endwith %}
{% endfor %}
  </div>
  {% endif %}

  <!--Block to add extra page header if required for the particular page-->
  {% block page_header %}
  
  {% endblock %}

  <!--Block to add page content-->
  
  {% block content %}
  {% endblock %}


  <!-- Footer : Taken from footer examples on https://getbootstrap.com/docs/5.1/examples/footers/ -->

    <footer class="footer py-2 mt-auto bg-light border-top fixed-bottom">
      <ul class="nav justify-content-center border-bottom pb-2 mb-2">
        <li class="nav-item"><a href="https://twitter.com/" target="_blank" class="nav-link px-2"><i class="fab fa-twitter-square fa-3x"></i></a></li>
        <li class="nav-item"><a href="https://www.facebook.com/" target="_blank" class="nav-link px-2 mx-2"><i class="fab fa-facebook-square fa-3x"></i></a></li>
        <li class="nav-item"><a href="https://www.youtube.com/" target="_blank" class="nav-link px-2"><i class="fab fa-youtube-square fa-3x"></i></a></li>
  
      </ul>
      <p class="text-center text-dark">&copy; {% now "Y" %} Skillz Academy</p>
    </footer>


  <!--Extra JS which can in run after page is loaded-->
  {% block postloadjs %}
    <script type="text/javascript">
      $(document).ready(function(){

        $('.toast').toast('show');
      });
     
    </script>

  {% endblock %}
</body>

</html>